#root {
  margin: auto;
  text-align: center;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  padding: 2em;
}

/* .read-the-docs {
  color: #888;
} */

header, footer {
  width: 100%;
  background-color: #333;
  color: white;
  height: 55px;
}

header { 
  display: flex;
  align-items: center;
  text-align: left;
  padding-left: 20px;
  justify-content: space-between;
}

nav {
  margin: 0 20px 0 0;
}

ul li {
  display: inline-block;
  padding: 20px;
}

header h1 {
  font-size: 1rem;
 }

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

main {
  min-height: calc(100vh - 110px);  
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.cards {
  display: inline-block;
  margin: 20px;
  background-color: rgb(255, 255, 255);
  padding: 5px;
  border: dotted;
  border-radius: 5px;
}

input {
  font-size: inherit;
  font-family: inherit;
  padding: 1rem;
}



